<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/estilos.css">
    <title>EXTERNO</title>
</head>

<body>
    <header>
        <h1>FORMULARIO EXTERNO</h1>
    </header>
    <main>
        <form action="externo.html" method="get" id="formulario_interno" target="_blank" class="inputs">
                <label>Nombres y Apellidos
                    <input class="input-nombre" type="text" name="nombre_apellido" placeholder="...">
                </label>
                <label>Email
                    <input class="input-email" type="email" name="email" placeholder="...">
                </label>
                <label>Cédula
                    <input class="input-contraseña" type="text" name="cedula" placeholder="0#########">
                </label>
            <label for="comentario">Comentario:</label>
            <textarea name="comentario" id="comentario" class="inputs input-textarea"></textarea>

            <select name="opciones" id="opciones" class="inputs input-select">
                <option value="opcion1">Opción 1</option>
                <option value="opcion2">Opción 2</option>
                <option value="opcion3">Opción 3</option>
            </select>

            <label for="checkbox">Eliga suscripción</label>
            <input type="checkbox" name="suscripcion" id="suscripcion" class="inputs input-checkbox">

            <label for="radio">Elija género:</label>
            <input type="radio" name="genero" value="masculino" class="inputs input-radio"> Masculino
            <input type="radio" name="genero" value="femenino" class="inputs input-radio"> Femenino
            <input type="radio" name="genero" value="otro" class="inputs input-radio"> Otro
            <div class="formato-boton">
                <button type="submit" class="inputs input-button">Enviar</button>
            </div>
        </form>
    </main>
    <footer>
        <p>Derechos reservados &copy; 2023</p>
    </footer>
</body>

</html>