<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/vendor/template/css/styles.css">
    <link rel="icon" type="image/x-icon" href="../public/vendor/template/assets/favicon.ico" />
        <link rel="stylesheet" href="./public/fonts/fontawesome-6/js/all.min.js">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link href="../public/vendor/template/css/styles.css" rel="stylesheet" />
    <title>About</title>
</head>
<body>
    <header></header>
    <main>
                <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ms-auto">
                        <p class="lead">Freelancer es un tema de Bootstrap gratuito y de uso, creado por Start Bootstrap. La descarga
                            incluye los archivos fuente completos, incluyendo HTML, CSS y JavaScript, así como hojas de estilo SASS opcionales para una fácil personalización.</p>
                    </div>
                    <div class="col-lg-4 me-auto">
                        <p class="lead">Puedes crear tu propio avatar personalizado para el encabezado, cambiar el icono en los
                            divisores y agregar tu dirección de correo electrónico al formulario de contacto para que sea completamente funcional.</p>
                    </div>
                </div>
                <!-- About Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                        <i class="fas fa-download me-2"></i>
                        Entrar
                    </a>
                </div>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>